@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon_agenzio.html");
  src: url("../fonts/flaticon_agenziod41d.html?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon_agenzio-2.html") format("woff2"),
       url("../fonts/flaticon_agenzio-3.html") format("woff"),
       url("../fonts/flaticon_agenzio-4.html") format("truetype"),
       url("../fonts/flaticon_agenzio-5.html#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon_agenzio-5.html#Flaticon") format("svg");
  }
}

.pxl-icon-active i.flaticon {
    display: inline-flex;
}

[class^="flaticon-"], [class*=" flaticon-"] {
    display: inline-flex;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
}

.flaticon-excavator:before {
    content: "\f101";
}
.flaticon-blueprint:before {
    content: "\f102";
}
.flaticon-sketch:before {
    content: "\f103";
}
.flaticon-play:before {
    content: "\f104";
}
.flaticon-truck:before {
    content: "\f105";
}
.flaticon-engineering:before {
    content: "\f106";
}
.flaticon-medical-insurance:before {
    content: "\f107";
}
.flaticon-clock:before {
    content: "\f108";
}
.flaticon-truck-1:before {
    content: "\f109";
}
.flaticon-design:before {
    content: "\f10a";
}
.flaticon-sketching:before {
    content: "\f10b";
}
.flaticon-package:before {
    content: "\f10c";
}
.flaticon-brickwall:before {
    content: "\f10d";
}
.flaticon-excavator-1:before {
    content: "\f10e";
}
.flaticon-star:before {
    content: "\f10f";
}
.flaticon-phone:before {
    content: "\f110";
}
.flaticon-calendar:before {
    content: "\f111";
}
.flaticon-construction-machine:before {
    content: "\f112";
}
.flaticon-helmet:before {
    content: "\f113";
}
.flaticon-engineering-1:before {
    content: "\f114";
}
.flaticon-metaverse:before {
    content: "\f115";
}
.flaticon-quote:before {
    content: "\f116";
}
.flaticon-protection:before {
    content: "\f117";
}
.flaticon-competition:before {
    content: "\f118";
}
.flaticon-organic:before {
    content: "\f119";
}
.flaticon-up-right-arrow:before {
    content: "\f11a";
}
.flaticon-construction:before {
    content: "\f11b";
}
.flaticon-tech:before {
    content: "\f11c";
}
.flaticon-salary:before {
    content: "\f11d";
}
.flaticon-next:before {
    content: "\f11e";
}
.flaticon-pipe:before {
    content: "\f11f";
}
.flaticon-steel:before {
    content: "\f120";
}
.flaticon-steel-1:before {
    content: "\f121";
}
.flaticon-industrial:before {
    content: "\f122";
}
.flaticon-irregular:before {
    content: "\f123";
}
.flaticon-saving-plan:before {
    content: "\f124";
}
.flaticon-u:before {
    content: "\f125";
}
.flaticon-construction-site:before {
    content: "\f126";
}
.flaticon-retirement-plan:before {
    content: "\f127";
}
.flaticon-cubes:before {
    content: "\f128";
}
.flaticon-risk-management:before {
    content: "\f129";
}
.flaticon-construction-site-1:before {
    content: "\f12a";
}
.flaticon-retirement:before {
    content: "\f12b";
}
.flaticon-constructor:before {
    content: "\f12c";
}
.flaticon-expertise:before {
    content: "\f12d";
}
.flaticon-next-1:before {
    content: "\f12e";
}
.flaticon-material:before {
    content: "\f12f";
}
.flaticon-up-right-arrow-1:before {
    content: "\f130";
}
.flaticon-retirement-plan-1:before {
    content: "\f131";
}